composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/nbproject/private/
/.env
/debian/.debhelper/
/debian/license-examples/
/debian/sms-input/
/debian/debhelper-build-stamp
/.vscode/
/nbproject/
/debian/multiflexi-sms-input.substvars
/debian/multiflexi-sms-input/
/debian/sms-input.debhelper.log
/debian/multiflexi-sms-input.debhelper.log
/debian/tmp/
