Source: sms-input
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, moreutils
Standards-Version: 4.5.1
Homepage: https://github.com/Spoje-NET/Sms-Input
Rules-Requires-Root: no
Vcs-Git: https://github.com/Spoje-NET/Sms-Input.git
Vcs-Browser: https://github.com/Spoje-NET/Sms-Input

Package: sms-input
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, php-vitexsoftware-ease-core, php-cli, debian-composer, php-hspdev-huaweiapi
Description: E5180s-22 message reader
 Read Messages from E5180s-22 modem using API

Package: multiflexi-sms-input
Depends: sms-input, multiflexi
Architecture: all
Section: web
Priority: optional
Description: Add E5180s-22 message reader to MultiFlexi
 Bundle E5180s-22 message reader using MultiFlexi
